<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2 class="users">Settings</h2>

    <div class="users">
      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

      <form class="users" action="/update" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="">Change Username</label><br>
        <input type="text" name="user[username]" value="<%= @user.username %>"><br><br>
        <input type="submit" name="" value="Update Username">
      </form>

      <form onsubmit="return confirm('DANGEROUS: Are you sure you want to delete your account? This action is irreversible and ALL of your projects and tasks will be lost.');" action="/users/<%= @user.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="delete" value="Delete Account" class="delete">
      </form>

    </div>

  </div>
</div>