<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="projects">Create a New Project</h2>

    <div>
      <% if flash.has?(:notice) %>
        <p class="flash"><b><%= flash[:notice] %></b></p>
      <% end %>

      <form action="/projects" method="post">
        <input type="text" name="project[title]" placeholder="Proejct Title">
        <br><br>
        <textarea rows="10" cols="50" name="project[description]" placeholder="project description"></textarea>
        <br><br>
        <label for="">Proejct Due Date</label><br>
        <input type="date" name="project[due_date]"><br>
        <p class="note">*Please note, we do not allow editing of your project due date.<br>This is to give incentive towards keeping to your deadlines. &#128519;</p>
        <br>
        <input type="submit" name="" value="Create Project">
      </form>
    </div>
  </div>
</div>
