<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2 class="projects"><%= @project.title %></h2>

    <div>
      <%= @project.description %>
      <br><br>
      <small><b>Due Date</b></small><br>
      <%= @project.due_date.to_time.strftime('%A %e %B %Y') %>
      <br><br>
      <a href="/projects/<%= @project.id %>/edit">Edit Project</a>
    </div>
  </div>
</div> 
