<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Project Organizer</h2>

    <div class="content">
      <p>Welcome to Project Organizer!  This site helps you organize your projects.  You can also create tasks for each project which will then show up under each project's page. For more information, see the <a href="https://github.com/jilustrisimo/project-organizer">README</a>.</p>
    </div>
    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/13SoAVfOfas" frameborder="0" allowfullscreen>Test</iframe>

    <div class="sidebar">
      <ul>
        <li><b><a href="/login" class="clickable-cells">Log in to view your projects</a></b></li>
        <br>
        <li><b><a href="/signup" class="clickable-cells">Sign up for a new account</a></b></li>
      </ul>
      <br/>
      <p>Test Account:</p>
      <p>Username: <i>testuser</i></p>
      <p>Password: <i>testing123</i></p>
    </div>
  </div>
</div>
